#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 95%;
  height: 75%;
  margin-left: 2%;
  margin-top: 2%;
}
.ui-button {
  background: #3887be;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  margin: -20px 0 0 -80px;
  z-index: 100;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
.ui-button:hover {
  background: #3074a4;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

#map-container {
  position: relative;
  width: 50vw;
  height: 100vh;
}

.table {
  text-align: center;
  font-size: 0.6em;
}

#weather {
  margin-top: 2%;
  margin-right: 2%
}

#destination {
  text-align: center;
}

.date {
  display: flex;
  flex-basis: 30%;
}

.weatherIcon {
  width: 20%;
}

.breakdownHeader {
  font-weight: bold;
}

.dropdown {
  float: right;
}

@media only screen and (max-width: 850px) {
  .grid-container {
    grid-template-columns: auto;
  }
  #map-container {
    width: auto;
    height: 75vh;
  }
  #map {
    width: 90%;
    height: auto;
    margin-left: 5%;
  }
  .mapboxgl-canvas {
    height: 100vh;
  }
  #weather {
    margin: 5%;
  }
}